{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="products bg-lighter py-4">
    <div class="products__display w-90 center">
      <div class="products__display__header ai-c mb-3 co-d">
        <i class="fas fa-guitar mr-4 co-l" aria-hidden="true"></i>
        <h5>Acoustic Guitars</h5>
        <p class="my-0 ml-5 co-l f-hl">
          (Classic guitars, flamenco guitars and folk guitars.)
        </p>
      </div>
      <div class="products__display__cards ai-c jc-sb">
        <div class="products__display__cards-item">
          <div class="products__display__cards-item--img h-50"></div>
          <div class="products__display__cards-item--content h-50 mx-3 pt-3">
            <h6 class="co-dt">Yamaha Apx 1000 Acoustic Guitar</h6>
            <p class="co-r f-gb my-0">Used</p>
            <span class="co-l">From:<span class="co-dt"> Caraguatatuba, BR</span></span>
            <div class="ai-c jc-sb mt-2">
              <div class="plus co-l ai-c jc-c">+</div>
              <div class="price co-r f-hm">$1000</div>
            </div>
          </div>
        </div>
        <div class="products__display__cards-item">
          <div class="products__display__cards-item--img h-50"></div>
          <div class="products__display__cards-item--content h-50 mx-3 pt-3">
            <h6 class="co-dt">Yamaha Apx 1000 Acoustic Guitar</h6>
            <p class="co-r f-gb my-0">Used</p>
            <span class="co-l">From:<span class="co-dt"> Caraguatatuba, BR</span></span>
            <div class="ai-c jc-sb mt-2">
              <div class="plus co-l ai-c jc-c">+</div>
              <div class="price co-r f-hm">$1000</div>
            </div>
          </div>
        </div>
        <div class="products__display__cards-item">
          <div class="products__display__cards-item--img h-50"></div>
          <div class="products__display__cards-item--content h-50 mx-3 pt-3">
            <h6 class="co-dt">Yamaha Apx 1000 Acoustic Guitar</h6>
            <p class="co-r f-gb my-0">Used</p>
            <span class="co-l">From:<span class="co-dt"> Caraguatatuba, BR</span></span>
            <div class="ai-c jc-sb mt-2">
              <div class="plus co-l ai-c jc-c">+</div>
              <div class="price co-r f-hm">$1000</div>
            </div>
          </div>
        </div>
        <div class="products__display__cards-item">
          <div class="products__display__cards-item--img h-50"></div>
          <div class="products__display__cards-item--content h-50 mx-3 pt-3">
            <h6 class="co-dt">Yamaha Apx 1000 Acoustic Guitar</h6>
            <p class="co-r f-gb my-0">Used</p>
            <span class="co-l">From:<span class="co-dt"> Caraguatatuba, BR</span></span>
            <div class="ai-c jc-sb mt-2">
              <div class="plus co-l ai-c jc-c">+</div>
              <div class="price co-r f-hm">$1000</div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="products__display w-90 center mt-5">
      <div class="products__display__header ai-c mb-3 co-d">
        <i class="fas fa-guitar mr-4 co-l" aria-hidden="true"></i>
        <h5>Acoustic Guitars</h5>
        <p class="my-0 ml-5 co-l f-hl">
          (Classic guitars, flamenco guitars and folk guitars.)
        </p>
      </div>
      <div class="products__display__cards ai-c jc-sb">
        <div class="products__display__cards-item">
          <div class="products__display__cards-item--img h-50"></div>
          <div class="products__display__cards-item--content h-50 mx-3 pt-3">
            <h6 class="co-dt">Yamaha Apx 1000 Acoustic Guitar</h6>
            <p class="co-r f-gb my-0">Used</p>
            <span class="co-l">From:<span class="co-dt"> Caraguatatuba, BR</span></span>
            <div class="ai-c jc-sb mt-2">
              <div class="plus co-l ai-c jc-c">+</div>
              <div class="price co-r f-hm">$1000</div>
            </div>
          </div>
        </div>
        <div class="products__display__cards-item">
          <div class="products__display__cards-item--img h-50"></div>
          <div class="products__display__cards-item--content h-50 mx-3 pt-3">
            <h6 class="co-dt">Yamaha Apx 1000 Acoustic Guitar</h6>
            <p class="co-r f-gb my-0">Used</p>
            <span class="co-l">From:<span class="co-dt"> Caraguatatuba, BR</span></span>
            <div class="ai-c jc-sb mt-2">
              <div class="plus co-l ai-c jc-c">+</div>
              <div class="price co-r f-hm">$1000</div>
            </div>
          </div>
        </div>
        <div class="products__display__cards-item">
          <div class="products__display__cards-item--img h-50"></div>
          <div class="products__display__cards-item--content h-50 mx-3 pt-3">
            <h6 class="co-dt">Yamaha Apx 1000 Acoustic Guitar</h6>
            <p class="co-r f-gb my-0">Used</p>
            <span class="co-l">From:<span class="co-dt"> Caraguatatuba, BR</span></span>
            <div class="ai-c jc-sb mt-2">
              <div class="plus co-l ai-c jc-c">+</div>
              <div class="price co-r f-hm">$1000</div>
            </div>
          </div>
        </div>
        <div class="products__display__cards-item">
          <div class="products__display__cards-item--img h-50"></div>
          <div class="products__display__cards-item--content h-50 mx-3 pt-3">
            <h6 class="co-dt">Yamaha Apx 1000 Acoustic Guitar</h6>
            <p class="co-r f-gb my-0">Used</p>
            <span class="co-l">From:<span class="co-dt"> Caraguatatuba, BR</span></span>
            <div class="ai-c jc-sb mt-2">
              <div class="plus co-l ai-c jc-c">+</div>
              <div class="price co-r f-hm">$1000</div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="products__display w-90 center mt-5 mb-4">
      <div class="products__display__header ai-c mb-3 co-d">
        <i class="fas fa-guitar mr-4 co-l" aria-hidden="true"></i>
        <h5>Acoustic Guitars</h5>
        <p class="my-0 ml-5 co-l f-hl">
          (Classic guitars, flamenco guitars and folk guitars.)
        </p>
      </div>
      <div class="products__display__cards ai-c jc-sb">
        <div class="products__display__cards-item">
          <div class="products__display__cards-item--img h-50"></div>
          <div class="products__display__cards-item--content h-50 mx-3 pt-3">
            <h6 class="co-dt">Yamaha Apx 1000 Acoustic Guitar</h6>
            <p class="co-r f-gb my-0">Used</p>
            <span class="co-l">From:<span class="co-dt"> Caraguatatuba, BR</span></span>
            <div class="ai-c jc-sb mt-2">
              <div class="plus co-l ai-c jc-c">+</div>
              <div class="price co-r f-hm">$1000</div>
            </div>
          </div>
        </div>
        <div class="products__display__cards-item">
          <div class="products__display__cards-item--img h-50"></div>
          <div class="products__display__cards-item--content h-50 mx-3 pt-3">
            <h6 class="co-dt">Yamaha Apx 1000 Acoustic Guitar</h6>
            <p class="co-r f-gb my-0">Used</p>
            <span class="co-l">From:<span class="co-dt"> Caraguatatuba, BR</span></span>
            <div class="ai-c jc-sb mt-2">
              <div class="plus co-l ai-c jc-c">+</div>
              <div class="price co-r f-hm">$1000</div>
            </div>
          </div>
        </div>
        <div class="products__display__cards-item">
          <div class="products__display__cards-item--img h-50"></div>
          <div class="products__display__cards-item--content h-50 mx-3 pt-3">
            <h6 class="co-dt">Yamaha Apx 1000 Acoustic Guitar</h6>
            <p class="co-r f-gb my-0">Used</p>
            <span class="co-l">From:<span class="co-dt"> Caraguatatuba, BR</span></span>
            <div class="ai-c jc-sb mt-2">
              <div class="plus co-l ai-c jc-c">+</div>
              <div class="price co-r f-hm">$1000</div>
            </div>
          </div>
        </div>
        <div class="products__display__cards-item">
          <div class="products__display__cards-item--img h-50"></div>
          <div class="products__display__cards-item--content h-50 mx-3 pt-3">
            <h6 class="co-dt">Yamaha Apx 1000 Acoustic Guitar</h6>
            <p class="co-r f-gb my-0">Used</p>
            <span class="co-l">From:<span class="co-dt"> Caraguatatuba, BR</span></span>
            <div class="ai-c jc-sb mt-2">
              <div class="plus co-l ai-c jc-c">+</div>
              <div class="price co-r f-hm">$1000</div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
{% endblock%}