{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<div class="footer__bottom ai-c jc-sb px-6">
<footer>
    <div class="footer__main h-80 w-90 center jc-sb pt-4">
      <div class="footer__main__about px-3">
        <div class="footer__main__about__logo">
          <div class="ai-c jc-c mb-3">
            <div class="footer__logo mr-3">
              <img
                class="footer__logo__img"
                src="{% static 'images/waves-icon.png' %}"
                alt="waves-icon"
              />
            </div>
            <div class="footer__logo__name brand-name--sm-w">MUSICIFY</div>
          </div>
        </div>
        <p class="co-l f-hl" >
          Musicify is an ecommerce platform for buying musical instruments. 
          It offers a wide selection of instruments at competitive prices, with options for customers to leave reviews on their purchases. 
          Payments can be made securely online, and the platform offers fast and reliable shipping options. 
          
        </p>
      </div>
      <div class="footer__main__categories px-3">
        <div class="footer__main--title">CATEGORIES</div>
        <div class="jc-sb">
          <ul class="links">
            <li><a aria-label="this is a button" href="{% url 'category' %}">Guitars</a></li>
            
            <li><a aria-label="this is a button" href="{% url 'category' %}">Flutes</a></li>
            <li><a aria-label="this is a button" href="{% url 'category' %}">Pianos</a></li>
            <li><a aria-label="this is a button" href="{% url 'category' %}">Equipments</a></li>
          </ul>
          
        </div>
      </div>
      <div class="footer__main__navigation px-3">
        <div class="footer__main--title">NAVIGATION</div>
        <ul class="links">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'login-page' %}">Sign In</a></li>
          <li><a href="{% url 'register-page' %}">Sign Up</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          
        </ul>
      </div>
      <div class="footer__main__options px-3 flex-col jc-c">
        <div class="footer__main__options--item jc-sb ai-c">
          <span class="co-r f-gb w-50">COUNTRY</span>
          <button type="button" class="btn-transparent w-50">NEPAL</button>
        </div>
        <div class="footer__main__options--item jc-sb ai-c my-2">
          <span class="co-r f-gb w-50">LANGUAGE</span>
          <button type="button" class="btn-transparent w-50">English</button>
        </div>
        <div class="footer__main__options--item jc-sb ai-c">
          <span class="co-r f-gb w-50">CURRENCY</span>
          <button type="button" class="btn-transparent w-50">NPR</button>
        </div>
      </div>
    </div>
    <div class="footer__bottom ai-c jc-sb px-6">
      <div class="footer__bottom__copyright co-l">
        Copyright© 2022
       
      </div>
      <div class="footer__bottom__social">
        <a aria-label="this is a button" href="#"><i class="fab fa-facebook-f"></i></a>
        <a aria-label="this is a button" href="#"><i class="fab fa-twitter"></i></a>
        <a aria-label="this is a button" href="#"><i class="fab fa-linkedin-in"></i></a>
        <a aria-label="this is a button" href="#"><i class="fab fa-github-alt"></i></a>
        <a aria-label="this is a button" href="#"><i class="fab fa-stack-overflow"></i></a>
      </div>
    </div>
  </footer>
</div>