{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<div class="footer__bottom ai-c jc-sb px-6">
<footer>
    <div class="footer__main h-80 w-90 center jc-sb pt-4">
      <div class="footer__main__about px-3">
        <div class="footer__main__about__logo">
          <div class="ai-c jc-c mb-3">
            <div class="footer__logo mr-3">
              <img
                class="footer__logo__img"
                src="{% static 'images/waves-icon.png' %}"
                alt="waves-icon"
              />
            </div>
            <div class="footer__logo__name brand-name--sm-w">MUSICIFY</div>
          </div>
        </div>
        <p class="co-l f-hl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi unde
          quisquam quibusdam molestiae eos sit odit dolor totam vel minima
          quam modi sint, tempora numquam cum, commodi itaque sed soluta?
        </p>
      </div>
      <div class="footer__main__categories px-3">
        <div class="footer__main--title">CATEGORIES</div>
        <div class="jc-sb">
          <ul class="links">
            <li><a aria-label="this is a button" href="#">Guitars</a></li>
            <li><a aria-label="this is a button" href="#">Violins</a></li>
            <li><a aria-label="this is a button" href="#">Flutes</a></li>
            <li><a aria-label="this is a button" href="#">Pianos</a></li>
            <li><a aria-label="this is a button" href="#">Percussion</a></li>
            <li><a aria-label="this is a button" href="#">Equipments</a></li>
          </ul>
          <ul class="links">
            <li><a aria-label="this is a button" href="#">Guitars</a></li>
            <li><a aria-label="this is a button" href="#">Violins</a></li>
            <li><a aria-label="this is a button" href="#">Flutes</a></li>
            <li><a aria-label="this is a button" href="#">Pianos</a></li>
            <li><a aria-label="this is a button" href="#">Percussion</a></li>
            <li><a aria-label="this is a button" href="#">Equipments</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__main__navigation px-3">
        <div class="footer__main--title">NAVIGATION</div>
        <ul class="links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Sign In</a></li>
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
      <div class="footer__main__options px-3 flex-col jc-c">
        <div class="footer__main__options--item jc-sb ai-c">
          <span class="co-r f-gb w-50">COUNTRY</span>
          <button type="button" class="btn-transparent w-50">NEPAL</button>
        </div>
        <div class="footer__main__options--item jc-sb ai-c my-2">
          <span class="co-r f-gb w-50">LANGUAGE</span>
          <button type="button" class="btn-transparent w-50">English</button>
        </div>
        <div class="footer__main__options--item jc-sb ai-c">
          <span class="co-r f-gb w-50">CURRENCY</span>
          <button type="button" class="btn-transparent w-50">NPR</button>
        </div>
      </div>
    </div>
    <div class="footer__bottom ai-c jc-sb px-6">
      <div class="footer__bottom__copyright co-l">
        Copyright© 2022
       
      </div>
      <div class="footer__bottom__social">
        <a aria-label="this is a button" href="#"><i class="fab fa-facebook-f"></i></a>
        <a aria-label="this is a button" href="#"><i class="fab fa-twitter"></i></a>
        <a aria-label="this is a button" href="#"><i class="fab fa-linkedin-in"></i></a>
        <a aria-label="this is a button" href="#"><i class="fab fa-github-alt"></i></a>
        <a aria-label="this is a button" href="#"><i class="fab fa-stack-overflow"></i></a>
      </div>
    </div>
  </footer>
</div>